<template>
  <teleport to="head">
    <PageMeta />
  </teleport>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageMetaTeleport'
})
</script>
