<template>
  <title v-bind="attributes({})">{{ head.title }}</title>
  <meta v-for="(meta, i) in head.meta" :key="`meta-${i}`" v-bind="attributes(meta)">
  <link v-for="(link, i) in head.links" :key="`link-${i}`" v-bind="attributes(links)">
</template>

<script lang="ts">
import { defineComponent, computed, onMounted, nextTick } from 'vue'
import { isSSR } from '@/utils'
import { HeadMeta, MetaTag } from '@/models'

export default defineComponent({
  name: 'PageMeta',
  setup () {
    onMounted(async () => {
      await nextTick()
      Array.from(document.getElementsByTagName('head')[0].children)
        .forEach((node: Element) => {
          if (node.getAttribute('ssr')) node.remove()
        })
    })

    const attributes = (attributes: MetaTag): MetaTag => ({
      ...(isSSR() && { ssr: true }),
      ...attributes
    })

    // TODO: take this from a configuration file
    const head = computed((): HeadMeta => {
      return {
        title: 'SSR Title',
        meta: [
          { name: 'description', content: 'SSR description' }
        ],
        links: [
          { rel: 'canonical', href: 'https://domain.tld' }
        ]
      }
    })

    return { attributes, head }
  }
})
</script>
